# Laravel
vendor/
node_modules/
public/storage/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
*.sublime-workspace
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
database/database.sqlite

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
storage/logs/*.log
